---
BasedOnStyle: Google
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeInheritanceComma: false
InheritanceListStyle: CarryOn
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
InsertBraces: true
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
IndentWidth: 4
ColumnLimit: 120
TabWidth: 4
UseTab: Never
PointerAlignment: Left
AlignAfterOpenBracket: Align
---